<mat-card-title>Estaciones de Servicio</mat-card-title>
<h4>Administrar las Estaciones de Servicio</h4>


<button mat-raised-button (click)="open()" color="primary">Nuevo</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre_est">
    <th mat-header-cell *matHeaderCellDef><strong> Nombre de la Estacion</strong></th>
    <td mat-cell *matCellDef="let element">{{element.nombre_est}}</td>
  </ng-container>
  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef><strong>Ubicacion de la Estacion de Servicio</strong></th>
    <td mat-cell *matCellDef="let element">{{element.ubicacion}}</td>
  </ng-container>
  <ng-container matColumnDef="numero_playas">
    <th mat-header-cell *matHeaderCellDef><strong>Numero de Playas</strong></th>
    <td mat-cell *matCellDef="let element">{{element.numero_playas}}</td>
  </ng-container>
  <ng-container matColumnDef="numero_disp">
    <th mat-header-cell *matHeaderCellDef><strong>Numero de Dispensadores</strong></th>
    <td mat-cell *matCellDef="let element">{{element.numero_disp}}</td>
  </ng-container>
  <ng-container matColumnDef="numero_tanques">
    <th mat-header-cell *matHeaderCellDef><strong>Numero de Tanques</strong></th>
    <td mat-cell *matCellDef="let element">{{element.numero_tanques}}</td>
  </ng-container>
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef><strong>Telefono</strong></th>
    <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
  </ng-container>
  <ng-container matColumnDef="encargado">
    <th mat-header-cell *matHeaderCellDef><strong> Encargado</strong></th>
    <td mat-cell *matCellDef="let element">{{element.encargado?.nombre}}</td>
  </ng-container>
  <ng-container matColumnDef="cantidad_max">
    <th mat-header-cell *matHeaderCellDef><strong>Cantidad Maxima</strong></th>
    <td mat-cell *matCellDef="let element">{{element.tanques.cantidad_max}}</td>
  </ng-container>
  <ng-container matColumnDef="cantidad_min">
    <th mat-header-cell *matHeaderCellDef><strong>Cantidad Minima</strong></th>
    <td mat-cell *matCellDef="let element">{{element.tanques.cantidad_min}}</td>
  </ng-container>
  <ng-container matColumnDef="cantidad_actual">
    <th mat-header-cell *matHeaderCellDef><strong>Cantidad Actual</strong></th>
    <td mat-cell *matCellDef="let element">{{element.tanques.cantidad_actual}}</td>
  </ng-container>
  <ng-container matColumnDef="tipo_tanque">
    <th mat-header-cell *matHeaderCellDef><strong>Tipo de Combustible</strong></th>
    <td mat-cell *matCellDef="let element">{{element.tanques.tipo_tanque}}</td>
  </ng-container>
  
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-fab (click)="onEditar(element)" aria-label="Example icon-button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>