<form [formGroup]="form" class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>

      <td>
        <mat-form-field class="example-full-width1">
          <input matInput formControlName="litros_comprados" name="litros_comprados" [(ngModel)]="per.litros_comprados"
            placeholder="Litros Comprados">
            <mat-error *ngIf="form.controls.litros_comprados.hasError('required')">
              Campo <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" formControlName="fecha_adquirida" name="fecha_adquirida" [(ngModel)]="per.fecha_adquirida"
            placeholder="Fecha de Compra">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="form.controls.fecha_adquirida.hasError('required')">
              Campo <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width3">
          <input matInput formControlName="tipo_de_combustible" name="tipo_de_combustible"
            [(ngModel)]="per.tipo_de_combustible" placeholder="Tipo de Combustible">
            <mat-error *ngIf="form.controls.tipo_de_combustible.hasError('required')">
              Campo <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>


  <td>
    <mat-form-field class="example-full-width4">
      <input matInput formControlName="chofer" name="chofer" [(ngModel)]="per.chofer"
        placeholder="Nombre del Conductor">
        <mat-error *ngIf="form.controls.chofer.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width5">
      <input matInput formControlName="placa_sisterna" name="placa_sisterna" [(ngModel)]="per.placa_sisterna"
        placeholder="Placa de la Sisterna">
        <mat-error *ngIf="form.controls.chofer.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
    </mat-form-field>




    <button mat-raised-button (click)="onNoClick()"> Cancelar</button>
    <button mat-raised-button [disabled]="!form.valid" (click)="enviar()"> enviar</button>

</form>