<div _ngcontent-mbd-c26="" class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div _ngcontent-mbd-c26="" class="login-register-box">
  
    
  <div class="login-wrapper"  Align="center center">
  
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
    
        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input [(ngModel)]="usuario" name="usuario" matInput placeholder="Usuario">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input type="password" [(ngModel)]="password" name="password" matInput placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="accent" (click)="entrar()" class="btn-block">Log in</button>
        </form>
      </mat-card>
    
    </div>
    </div>
  </div>
  